<module xmlns="urn:jboss:module:1.1" name="cz.muni.exceptions">
    <resources>
        <resource-root path="exceptions-subsystem.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>

        <module name="org.javassist" />                
        <module name="javax.transaction.api"/>        
        <module name="cglib"/>
        <module name="org.mybatis" />

        <module name="com.google.guava" />
        <module name="com.sun.tools" />
    </dependencies>
</module>
